doctype html
html
    head
        style
            include style.css
    body
        div.body
            block content
        div.footer
            | З повагою ваші друзі!
            br
            | ONLINE-SHOP
           
